{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class=" text-center shadow-primary shadow-intensity-lg shadow-sm p-2 mb-2 bg-body rounded">
        <h4>{{userProfile.username}}'s profile</h4>
        <p><strong>Followers: </strong>{{followers_count}}. <strong>Following: </strong>{{following_count}}</p>
        {% if user.is_authenticated %}
            {% if user != userProfile %}
                {% if isFollowing %}
                    <form action="{% url 'unfollow' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="userfollow" value="{{userProfile.id}}" />
                        <input type="submit" value="unfollow"/>
                    </form>
                {% else %}
                    <form action="{% url 'follow' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="userfollow" value="{{userProfile.id}}" />
                        <input type="submit" value="follow"/>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <!-- Display post content -->
    <div>
        {% for post in allPosts %}
        <div class="list-group-item">
            <h6>At: {{post.timestamp}}</h6>
            <p id="content_of_post_{{post.id}}"> Has wrote: {{post.content}}</p>
            {% with post_id=post.id %}
                {% if user.id in post_likers_ids|get_item:post_id %}
                    {% with likes_num=post_likers_ids|get_item:post_id|length %}
                        <p id="like_no_of_post_{{post.id}}" class="likes"><a id="like_manager_{{post.id}}" href="javascript:void(0)" onclick="likeUpdater({{post.id}},{{user.id}},true,{{likes_num}})">Unlike</a>: {{likes_num}}</p>
                    {% endwith %}      
                {% else %}
                    {% with likes_num=post_likers_ids|get_item:post_id|length %}
                        <p id="like_no_of_post_{{post.id}}" class="likes"><a id="like_manager_{{post.id}}" href="javascript:void(0)" onclick="likeUpdater({{post.id}},{{user.id}},false,{{likes_num}})">Like</a>: {{likes_num}}</p>
                    {% endwith %}  
                {% endif %}
            {% endwith %}
            {% if user == userProfile %}
                <button type="button" class="btn btn-primary edit_button" data-toggle="modal" data-target="#editPost_{{post.id}}">Edit</button>
            {% endif %}
        </div>
        <!-- The model part -->
        <div class="modal" tabindex="-1" role="dialog" id=editPost_{{post.id}} aria-labelledby="editPost_{{post.id}}_Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Editting your post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                    <label for="message-text-{{post.id}}" class="col-form-label">Content:</label>
                    <textarea class="form-control" id="message-text-{{post.id}}">{{post.content}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="savePost({{post.id}})" data-dismiss="modal">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination part -->
    <div id="toggle" class="d-flex align-items-center justify-content-center my-5">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">previous</a></li>
                {% endif %}
                <li class="page-item mx-3">
                    <p class="text-center mt-2"> Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} </p>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>        
    </div>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}